body {
	display: flex;
	flex-direction: column;
}

body > main {
    padding: var(--space-xl);
}

body > main > * + * {
	margin-top: var(--space-xl);
}

main > section {
    margin-top: 64px;
}

section > header {
    margin-bottom: var(--space-xxl);
}

/* general */
