[id="navigation-principale"] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color-medium);
    padding: var(--space-lg);
    gap: var( --space-xl);

}

.logo {
    max-height: 80px;
    filter: brightness(200%);
}

[id="navigation-principale"] a {
    text-decoration: none;
    color: var(--accent-color-light);
    font-size: var(--text-xxs);
    font-weight: 700;
}
[id="navigation-principale"] a:hover {
    color: var(--secondary-color-dark);

}

.champ_recherche > input {
    padding: var(--space-s);
    border-radius: var( --space-xl);
    min-width: 300px;
    font-size: var(--text-xxs);
    color: var(--main-color-medium);
    border: 0px;
}

.champ_recherche > input:focus {
    background-color: var(--main-color-light);
    color: var(--accent-color-light);
}

.liens_page {
    display: flex;
    gap: var( --space-xl);
}

.utilisateur {
    display: flex;
    flex-direction: row;
    gap: var( --space-xl);
}

.utilisateur img {
    max-height: var( --space-xl);
}