.entete-timbre {
    padding: var(--space-xl);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.entete-timbre > a, .timbre-meme-categorie > div > a {
    text-decoration: none;
    color: var(--secondary-color-dark);
    font-size: 18px;
    font-weight: 700;
}

.entete-timbre > a:hover, .timbre-meme-categorie > div > a:hover {
    color: var(--main-color-dark);
}

.timbre-titre > p {
    margin-top: var(--space-xl);
}

.timbre-details {
    display: flex;
    flex-direction: row;
    gap: var(--space-xxl);
}


.timbre-info {
    flex-basis: 30ch;
    flex-grow: 1;
}
.timbre-image {
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
    flex-basis: 30ch;
    flex-grow: 1;
}
.timbre-image > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-basis: 10ch;
    flex-grow: 1;
    justify-items: center;
    align-items: center;
}
.timbre-image > picture > img {
    object-fit: contain;
    width: 100%;
    max-height: max-content;
    flex-basis: 30ch;
    flex-grow: 3;
}

.timbre-images > img {
    max-height: 100px;
    padding: var(--space-xs);
}

.timbre-info {
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
    padding: var(--space-lg);
}

.timbre-info > header > * {
    margin-top: var(--space-lg);
}

.timbre-info > div > * {
    margin-top: var(--space-s);
} 

.timbre-miser > button {
    color: var(--accent-color-light);
    background-color: var(--secondary-color-dark);
}

.timbre-miser > input, .timbre-miser > button {
    font-size: var(--text-xs);
    padding: var(--space-xs);
}

.timbre-meme-categorie > div {
    margin-top: var(--space-xl);
}